.logo-default img,
.logo-dark img {
    width: 220px;
}

.logo-default img,
.logo-dark img {
    background-color: #fff;
    box-shadow: 0 12px 6px rgba(0, 0, 0, 0.06);
    padding: 30px 10px;
}

#section2 {
    background-color: #cb1a21;
}

#section2 h2 {
    margin-bottom: 10px;
}

#section2 h2,
#section2 .lead {
    color: #fff;
}

#fiturss {
    background-color: #cb1a21;
}

.variouspall img {
    height: 300px;
}

.variouscolor {
    background-color: #e0e0e0;
}

.imgvarious img {
    margin: 40px 0px;
    border-radius: 50%;
    border: 3px solid #Fff;
}

.imgvarious .col-lg-2:hover {
    transition: .5s ease-in-out;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: .35rem;
}

.grid li a img {
    filter: grayscale(100%);
}

.grid li a img:hover {
    cursor: pointer;
    transition: .5s ease-in-out;
    filter: grayscale(0);
}

#slider {
    background-position: center;
    background-repeat: no-repeat;
    min-height: 700px;
    object-fit: cover;
}

.icon-box.border .icon {
    border: 3px solid #cb1a21;
}

.icon-box h5 {
    color: #cb1a21;
}

.icon-box .icon img {
    width: 30px;
    margin-top: 13px;
    margin-left: 3px;
}

.icon-box p {
    line-height: 20px;
}

.icon-box.text-center p,
.icon-box.center p {
    font-size: 13px;
}
